body {
    display: flex;
    font-family: Arial;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;    
    padding-top: 3%;
    padding-bottom: 3%;
}

.grid-container {
    display: grid;
    background-color: white;
    height: 1240px;
    width: 874px;
}

.name {
    justify-self: center;
    width: 80%;
    padding: 0;
}

.education1-title{
    font-size: 16px;
}

.education2-title{
    font-size: 16px;
}

.tech-list {
    padding: 0;
    margin: 0;
} 

.left-panel {
    background-color: rgb(231,231,231);
    padding-left: 0;
    padding-top: 0;
}

.photo {
    width: 70%;
    height: 100%;
    justify-self: center;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
    margin: 3px;
}

h3 {
    margin: 3px;
}

a, a::after {
    text-transform: none;
    text-decoration: none;
    color: black;
}

span {
    color: grey;
}

p {
    margin: 1px;
}
.grid-box {
    display: grid;
}

#first-name, #surname, #title {
    display: flex;
    height: fit-content;
}

#first-name, #surname {
    font-size: 60px;    
}

#first-name {
    justify-content: flex-start;
    margin-bottom: -20px;
}
#surname {
    justify-content: flex-end;
    margin-top: -30px;
    margin-bottom: 0;
}

#title {
    justify-content: center;   
    font-size: 30px;
    color: grey;
    margin: 0;
}

.section {
    justify-self: flex-start;
    align-self: flex-start;
}

.languages ul, .skills ul {
    padding-left: 6%;
    margin: 0;
}

.certificates li, .experience1-title li, .experience2-title li, .tech-list li {
    list-style-type: none;
}

.certificates ul, #experience ul, #education ul {
    padding-left: 0;
}










