body {
    font-family: Arial;
    background-color: aliceblue;
    padding: 80px 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

span {
    color: grey;
}

section,
header {
    padding: 10px 60px 20px 60px;
    background-color: white;
    width: 960px;
    margin: 0 auto;
}
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
}

.address {
    list-style: none;
    padding-left: 0;
}

